* {
    font-family: 'Roboto', sans-serif;;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;


}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}
.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(23, 170, 180);
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;
}

.showfeats {
    z-index: 1;
    height: 19em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    text-shadow: 0 0 3px #e90707,
                 0 0 5px #0000ff
}

.show-header {
    text-shadow: 0 0 7px #e23d3d,
                 0 0 5px #1b1bd4;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(0,0,0) 40%);
    align-items: flex-end;
}

.main-tile-dimension {
    width: flex;
    height: 100%;
    background-color: rgb(244, 138, 138);
    columns: white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 50px;
    justify-content: flex;
}

.image-container-show {
    height: px;
    width: 100%;
    justify-content: flex;
}


.show {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    background: rgb(5, 5, 5);
    color: white;
    border-style: groove;
    justify-content: right;
    background-color: rgb(59, 144, 174);
    text-shadow: 50em;
    text-decoration-color: #050505;
}

.show-header {
    display: flex;
    
}

.showimg {
    width:250px;
    display:flex;
    height: 350px

}



.show-info {
    justify-content:right;
    width: 75%;
    padding-left: 35px;
    align-items: center;
    height: 100%;
    text-decoration-color: #050505;
}



.button {
  background-color: #37c0ca; /* Green */
  color: white;
  padding: 10px;
  text-align:justify;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.button:hover {
    background-color: #147378;
    color: white;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 50px;
    padding-bottom: 50px;
}

.mapimg {
    width: 250px;
    border: 20px teal;
    border-radius: 10px;
}

.footinfo {
    flex-direction: column;
    width: 20%;
    font: .6em;
    padding-bottom: 20px;
}

.tiny {
    margin: 20px;
}

.foothead {
    align-items: center;
    padding-left: 20px;
}





